---
# Only the main Sass file needs front matter (the dashes are enough)
---


$max-width: 1024px;
//$right-sidebar-width: 1px;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#main {
    max-width: $max-width;
}

.masthead__inner-wrap {
    max-width: $max-width;
}

.page__hero--overlay .wrapper{
    max-width: $max-width;
}

.greedy-nav .visible-links {
    justify-content: inherit;
}


.sidebar.sticky {
    overflow-y: auto;
    max-height: none;
}

.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: 0px;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: 0px;
  }

  .page__inner-wrap {
    float: left;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
}

